
  h2 ,h1,.pregunta {
    font-size: 62px;
    color: rgb(144, 98, 98);
  } 


  .colorRojo{
    font-size: 30px;
    color: red;
  }
  a{
    width: 50px;
    font-weight: 700px;

    color: rgb(193, 194, 175);
    padding: 1rem;
    margin: 5rem;
    border-radius: 10px;
    font-size: 30px;
   }

   .btn_ppl{
    background-color:  rgb(22, 18, 82);
   }

   
   .principal{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 2rem;

   }
